<html>
<head>
  <title>Cheetah</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <div class="page-header">
    <%= image_tag("cheetah_header.png", class: "img-responsive") %>
  </div>

</head>
<body>

<%= yield %>

</body>

</html>